<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "Java 101" value="38.5"/>
    <add key = "Cyber Security Handbook" value="72.99"/>
    <add key = "Project Management" value="44.0"/>
    <add key = "Advanced PHP" value="68.55"/>
	<add key = "Beginning MySQL" value="29.25"/>
  </appSettings>
</configuration>
